*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-padrao h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: rgb(44, 43, 43);
    font-weight: 500;
}

.form-padrao{
    margin: 1rem auto;
    max-width: 80%;
}

.form-padrao div {
    margin: .50rem auto;
}

.form-padrao input{
    width: 15rem;
    height: 3rem;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 0.2rem;
}

.form-padrao form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem auto;
}

.form-padrao .padrao{
    flex: 0 1 48%;
} 

.form-padrao .botoes,
.form-padrao .locado{
    flex: 0 1 98%;
}

.form-padrao .botoes{
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin: 2rem auto; */
}

.form-padrao input[type="text"],
.form-padrao input[type="number"],
.form-padrao input[type="email"]{ 
    width: 100%;
}

.form-padrao input[type="submit"],
.form-padrao input[type="button"]{
    border-radius: 0.3rem;
    font-weight: 500;
}

.form-padrao input[type="submit"]{
    background-color: #0D6EFD;
    color: white;
}

.form-padrao input[type="button"]{
    background-color: red;
    color: white;
}

.form-padrao form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


