*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tabela-visualizacao-veiculos table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

.tabela-visualizacao-veiculos th, 
.tabela-visualizacao-veiculos td{
    border-bottom: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
}

.tabela-visualizacao-veiculos th{
    background-color: #CFE2FF;
    font-weight: bold;
}

.tabela-visualizacao-veiculos .operacoes{
    display: flex;
    gap: 0.5rem;
}

.tabela-visualizacao-veiculos .operacoes a{
    margin: 0;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    color: white;
}

.tabela-visualizacao-veiculos .btn-alterar{
    background-color: #157347;
    
}

.tabela-visualizacao-veiculos .btn-excluir{
    background-color: #DC3545;
}